<!-- Page Tab Container Div -->   


  <header >
      <nav>
          <div class="row">
              <!-- navigation bar -->
              <div class="col-md-8 col-sm-8 col-xs-4">
                  <ul class="tabs">
                      <li class="tab">
                          <a class="home-btn" href="#home"><i class="fa fa-home" aria-hidden="true"></i></a>
                      </li>
                      <li class="tab"><a routerLink="/resume" routerLinkActive="active">RESUME</a></li>
                      <li class="tab"><a routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</a></li>
                      <li class="tab"><a routerLink="/blog" routerLinkActive="active">BLOG</a></li>
                      <li class="tab"><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
                  </ul>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-8 dynamic" (click)="toggleMenu()">
                  <a href="mailto:aroranayan@live.com" class="pull-right site-btn icon hidden-xs">Hire Me <i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                  <div class="hamburger pull-right hidden-lg hidden-md" ><i class="fa fa-bars" aria-hidden="true"></i></div>
                  <div class="hidden-md social-icons pull-right"> 
                      <a class="fb" data-toggle="tooltip" title="Linked In" target="blank" href="https://www.linkedin.com/in/nayan-arora/"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                      <a class="tw" data-toggle="tooltip" title="Twitter" target="blank" href="https://twitter.com/AroraNayan"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                      <a class="ins" data-toggle="tooltip" title="Instagram" target="blank" href="https://instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                      <a class="dr" data-toggle="tooltip" title="Github" target="blank" href="https://github.com/itsmenayan"><i class="fa fa-github-square"></i></a> 
                  </div>
              </div>
          </div>
      <div class="menuout" [@toggleMenu]="menuState"><div class="menuin" (click)="toggleMenu()"><ul class="tabs">
                      <li class="tab">
                          <a class="home-btn" href="#home"><i class="fa fa-home" aria-hidden="true"></i></a>
                      </li>
                      <li class="tab"><a routerLink="/resume" routerLinkActive="active">RESUME</a></li>
                      <li class="tab"><a routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</a></li>
                      <li class="tab"><a routerLink="/blog" routerLinkActive="active">BLOG</a></li>
                      <li class="tab"><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
                  
                      
                  </ul></div></div></nav>
  </header>
      
  <!-- Page Content
  ================================================== --> 
   <!-- col-md-12 end -->
