<div id="contact" style="display: block; position: static; visibility: visible;" class="active">
  <div class="row">
      <!-- Contact Form -->
      <section class="contact-form col-md-6 padding_30 padbot_45">
          <div class="section-title top_15 bottom_30"><span></span><h2>Contact Form</h2></div>
          <form class="site-form">
              <div class="row">
                  <div class="col-md-6">
                      <input class="site-input" placeholder="Name">
                  </div>
                  <div class="col-md-6">
                      <input class="site-input" placeholder="E-mail">
                  </div>
                  <div class="col-md-12">
                      <textarea class="site-area" placeholder="Message"></textarea>
                  </div>
                  <div class="col-md-12 top_15 bottom_30">
                      <button class="site-btn" type="submit">Submit</button>
                  </div>
              </div>
          </form>  
      </section>
      <!-- Contact Informations -->
      <section class="contact-info col-md-6 padding_30 padbot_45">
          <div class="section-title top_15 bottom_30"><span></span><h2>Contact Informations</h2></div>
          <ul>
              <li><span>Address:</span> New Delhi, India </li>
              <li><span>Phone:</span> +91 - 9518756234</li>
              <li>{{now}}</li>
              <li><span>Job:</span> Web Development</li>
              <li><span>E-mail:</span>aroranayan@live.com</li>
              <li><span>Skype:</span> aroran3</li>
              <li>
                  <div class="social-icons top_15"> 
                    <a class="fb" data-toggle="tooltip" title="Linked In" target="blank" href="https://www.linkedin.com/in/nayan-arora/"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                    <a class="tw" data-toggle="tooltip" title="Twitter" target="blank" href="https://twitter.com/AroraNayan"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                    <a class="ins" data-toggle="tooltip" title="Instagram" target="blank" href="https://instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                    <a class="dr" data-toggle="tooltip" title="Github" target="blank" href="https://github.com/itsmenayan"><i class="fa fa-github-square"></i></a>  
                  </div>
              </li>
          </ul>
      </section>
      <!-- Contact Map -->
      <!-- <section class="contact-map col-md-12 top_15 bottom_15">
          <div class="section-title bottom_30"><span></span><h2>Contact Map.</h2></div>  
          <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJLbZ-NFv9DDkRzk0gTkm3wlI" height="350" style="border:0" allowfullscreen=""></iframe>
      </section> -->
  </div>
</div>