<div class="wrapper top_60 container">
  <div class="row">
      <!-- Profile Section
  ================================================== --> 
      <div class="col-lg-3 col-md-4"> 
     <app-profile-section></app-profile-section>
     </div>
     <!-- Page Tab Container Div -->   
<div id="ajax-tab-container" class="col-lg-9 col-md-8 tab-container" data-easytabs="true">
    
        <app-navbar></app-navbar>    
    <div class="col-md-12 content routeAnim" [@routeAnimations]="prepareRoute(outlet)"> 
            <router-outlet #outlet="outlet"></router-outlet>
        </div> 
     </div>
  </div>
  </div> 

  <footer>
    <div class="footer col-md-12 top_30">
        
        <!-- <div class="copyright col-lg-8 col-md-12">© 2017 All rights reserved. Designed by <a href="">Nayan Arora</a> </div>   -->
    </div>
</footer>



