<div id="resume" class="active" style="display: block;">
  <!-- Resume Section -->
  <div class="row">
      <section class="education">
      <div class="section-title top_30"><span></span><h2>Resume</h2></div>
          <div class="row">
              <!-- Working History -->
              <div class="working-history col-md-12 padding_15 padbot_30">
                  <ul class="timeline col-md-12 top_30">
                      <li><i class="fa fa-suitcase" aria-hidden="true"></i><h2 class="timeline-title">Working History</h2></li>
                      <!-- a work -->
                      <li><h3 class="line-title">Senior Software Engineer - Mindfire Solutions</h3>
                          <span>2018 - Present</span>
                          <p class="little-text">Handling a Microservices based project with large number of modules and tech-stack involved. Working as a Java Developer, handling third party integrations with Jasper, Tableau, etc. </p>
                      </li>
                     <!-- a work -->
                      <li><h3 class="line-title">Senior System Engineer - Infosys</h3>
                          <span>2015 - 2018</span>
                          <p class="little-text">Worked as a Full Stack Developer, handling requirement gathering and client interactions on a large scale apart from the Java and Angular JS development work.</p>
                      </li>
                     <!-- a work -->
                      <li><h3 class="line-title">System Engineer - Infosys (Mysore)</h3>
                          <span>2015 - 2015</span>
                          <p class="little-text">Got trained in Python. Got hands-on experience in Python backend development.</p>
                      </li>
                  </ul> 
              </div>  
              <!-- Education History -->
              <div class="education-history col-md-12 padding_15 padbot_30">
                  <ul class="timeline col-md-12 top_30">
                      <li><i class="fa fa-graduation-cap" aria-hidden="true"></i><h2 class="timeline-title">Education History</h2></li>
                      <!-- a work -->
                      <li><h3 class="line-title">B.Tech. - ITM University</h3>
                          <span>2011 - 2015</span>
                          <p class="little-text">Passed Electronics and Communication Engineering with 80%.</p>
                      </li>
                     <!-- a work -->
                      <li><h3 class="line-title">A.M.I. Shishu Mandir</h3>
                          <span>2011</span>
                          <p class="little-text">Passed with 81%.</p>
                      </li>
                     <!-- a work 
                      <li><h3 class="line-title">Abc High School</h3>
                          <span>2000 - 2003</span>
                          <p class="little-text">Excited him now natural saw passage offices you minuter. At by asked being court hopes. Farther so friends am to detract.</p>
                      </li>-->
                  </ul> 
              </div>
          </div>
      </section>
  </div>
  <!-- Clients Section -->
  <div class="row">
      <section class="clients col-md-12 graybg padding_45 padbot_45">
          <div class="section-title bottom_30"><span></span><h2>Clients</h2></div>
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="client">
                      <img src="../../assets/img/Infosys.png" alt="">
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="client">
                      <img src="../../assets/img/aetna.png" alt="">
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="client">
                      <img src="../../assets/img/Mindfire.png" alt="">
                  </div>
              </div>
          </div>
      </section>
  </div>
  <!-- Testimonials -->
  <div class="row">
      <section class="testimonials bottom_30">
          <div class="section-title top_60 bottom_30"><span></span><h2>Testimonials</h2></div>
          <div class="owl-carousel row owl-theme" data-items="3" data-autoplay="3000" data-pagination="true" style="opacity: 1; display: block;">
              <!-- a item -->
              <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4734px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 263px;"><div class="col-md-12 item">
                  <div class="comment">
                      <div class="top-section">
                          <figure>
                              <img src="http://tavonline.net/html/mat/default/images/testimonial-1.jpg" alt="">
                          </figure>
                          <div class="name-info">
                              <span class="name">Jack Garratt</span>
                              <span class="job">Freelancer</span>
                          </div>
                      </div>
                      <hr>
                      <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
                  </div>
              </div></div><div class="owl-item" style="width: 263px;"><div class="col-md-12 item">
                  <div class="comment">
                      <div class="top-section">
                          <figure>
                              <img src="http://tavonline.net/html/mat/default/images/testimonial-2.jpg" alt="">
                          </figure>
                          <div class="name-info">
                              <span class="name">April M. Griffin</span>
                              <span class="job">Founder</span>
                          </div>
                      </div>
                      <hr>
                      <p>Our logo and business card design look great. Thanks Henry</p>
                  </div>
              </div></div><div class="owl-item" style="width: 263px;"><div class="col-md-12 item">
                  <div class="comment">
                      <div class="top-section">
                          <figure>
                              <img src="http://tavonline.net/html/mat/default/images/testimonial-3.jpg" alt="">
                          </figure>
                          <div class="name-info">
                              <span class="name">Larry M. Johnson</span>
                              <span class="job">Freelancer</span>
                          </div>
                      </div>
                      <hr>
                      <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
                  </div>
              </div></div><div class="owl-item" style="width: 263px;"><div class="col-md-12 item">
                  <div class="comment">
                      <div class="top-section">
                          <figure>
                              <img src="http://tavonline.net/html/mat/default/images/testimonial-1.jpg" alt="">
                          </figure>
                          <div class="name-info">
                              <span class="name">Jack Garratt</span>
                              <span class="job">Freelancer</span>
                          </div>
                      </div>
                      <hr>
                      <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
                  </div>
              </div></div><div class="owl-item" style="width: 263px;"><div class="col-md-12 item">
                  <div class="comment">
                      <div class="top-section">
                          <figure>
                              <img src="http://tavonline.net/html/mat/default/images/testimonial-2.jpg" alt="">
                          </figure>
                          <div class="name-info">
                              <span class="name">April M. Griffin</span>
                              <span class="job">Founder</span>
                          </div>
                      </div>
                      <hr>
                      <p>Our logo and business card design look great. Thanks Henry</p>
                  </div>
              </div></div><div class="owl-item" style="width: 263px;"><div class="col-md-12 item">
                  <div class="comment">
                      <div class="top-section">
                          <figure>
                              <img src="http://tavonline.net/html/mat/default/images/testimonial-3.jpg" alt="">
                          </figure>
                          <div class="name-info">
                              <span class="name">Larry M. Johnson</span>
                              <span class="job">Freelancer</span>
                          </div>
                      </div>
                      <hr>
                      <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
                  </div>
              </div></div><div class="owl-item" style="width: 263px;"><div class="col-md-12 item">
                  <div class="comment">
                      <div class="top-section">
                          <figure>
                              <img src="http://tavonline.net/html/mat/default/images/testimonial-1.jpg" alt="">
                          </figure>
                          <div class="name-info">
                              <span class="name">Jack Garratt</span>
                              <span class="job">Freelancer</span>
                          </div>
                      </div>
                      <hr>
                      <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
                  </div>
              </div></div><div class="owl-item" style="width: 263px;"><div class="col-md-12 item">
                  <div class="comment">
                      <div class="top-section">
                          <figure>
                              <img src="http://tavonline.net/html/mat/default/images/testimonial-2.jpg" alt="">
                          </figure>
                          <div class="name-info">
                              <span class="name">April M. Griffin</span>
                              <span class="job">Founder</span>
                          </div>
                      </div>
                      <hr>
                      <p>Our logo and business card design look great. Thanks Henry</p>
                  </div>
              </div></div><div class="owl-item" style="width: 263px;"><div class="col-md-12 item">
                  <div class="comment">
                      <div class="top-section">
                          <figure>
                              <img src="http://tavonline.net/html/mat/default/images/testimonial-3.jpg" alt="">
                          </figure>
                          <div class="name-info">
                              <span class="name">Larry M. Johnson</span>
                              <span class="job">Freelancer</span>
                          </div>
                      </div>
                      <hr>
                      <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
                  </div>
              </div></div></div></div>
              <!-- a item -->
              
              <!-- a item -->
               
              <!-- a item -->
              
              <!-- a item -->
              
              <!-- a item -->
              
              <!-- a item -->
              
              <!-- a item -->
              
              <!-- a item -->
              
          <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
      </section>
  </div>
</div>