<div class="cbp-item webdesign" style="width: 272px; left: 0px; top: 0px;"><div class="cbp-item-wrapper">
    <a href="portfolio-detail/work-01.html" class=" cbp-singlePage">
        <figure>
            <div class="icon">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </div>
            <img src="../../assets/img/angular.png" alt="">
            <figcaption>
                <span class="title">Babel Admin</span><br>
                <span class="info">An admin template design.</span>
            </figcaption>
        </figure>
    </a>
</div></div>